.limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}

.eye {
  fill: white;
}

.house {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}

.house .roof {
  stroke: #d1495b;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.house .door {
  fill: #d1495b;
}

.house .stair {
  fill: gray;
}

.house .window {
  fill: #fdea96;
}

.house .window-sill {
  fill: #d1495b;
  stroke-linecap: round;
}